body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;

}
/* -------------------- Settings Page Container Main --------------------  */
.containerPage {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .35s;
}
/* -------------------- Settings One Page --------------------  */
.onePage {
    background: #8669D9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.containerLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}
.MinMaxCodeTitle {
    font-size: 6rem;
    color: #fefefe; 
    font-family: 'Kirang Haerang', cursive;
    letter-spacing: .3rem;
    font-weight: 300;
    user-select: none;
}
.loadCircle {
    width: 5rem;
    height: 5rem;
    border: 2px solid #fefefe;
    border-radius: 50%;
}
.loadCircle::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;
    animation: expandCircle ease-in-out 5s;
}

@keyframes expandCircle {
    100% {
        margin-left: 0;
        margin-top: 0;
        width: 5rem;
        height: 5rem;
        display: none;
    }
}
@keyframes hiddenElement {
    100% {
        display: none;
    }
}
/* ------------------ Media Query One Page ------------------ */
@media screen and (max-width: 630px) {
    .MinMaxCodeTitle {
        font-size: 4rem;
    }
}
@media screen and (max-width: 390px) {
    .MinMaxCodeTitle {
        font-size: 2.5rem;
    }
    .containerLoad {
        margin: 0;
    }
}
/* -------------------- Settings One Page --------------------  */
#pageSecond {
    display: none;
}
.TwoPage {
    background: #fefefe;
}
.settingsBtn {
    padding: 1.5rem 3rem 1.5rem 3rem;
}
.settingsBtn > i {
    font-size: 2.5rem;
    color: #5c5b5b;
    transition: .35s;
    cursor: pointer;
    padding: .5rem;
    border-radius: 12px;
}
.settingsBtn > i:hover {
    transform: rotate(360deg) scale(0.9);
    background: #282626;
    color: #fefefe;
}
.settingsBtn > i:active {
    transition: 0s;
    background: rgb(8, 124, 232);
}
.containerText {
    display: grid;
    place-content: center;
    height: 60%;
}
.textTitle {
    color: #282626;
    font-size: 4.2rem;
    font-family: 'K2D', sans-serif;
    user-select: none;
    text-align: center;
}

.minMaxCodeText {
    color: #8669D9;
    background: #7a797937;
    padding: 0 1rem 0 1rem;
    border-radius: 12px;
    user-select: none;
    transition: .35s;
    cursor: pointer;
}
.minMaxCodeText:hover {
    background: #69686837;
}
.containerBtnNextPage {
    display: flex;
    justify-content: center;
}
.btnNextPage {
    color: #fefefe;
    background: #8669D9;
    border: none;
    font-size: 2.2rem;
    border-radius: 32px;
    padding: .5rem 3rem .5rem 3rem;
    transition: .35s;
    cursor: pointer;
    outline: none;
    cursor: pointer;
}
.btnNextPage:hover {
    background: #0a72e8;
    transform: scale(0.9);
}
.decorationDetailsContainer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.detailsTransitionPage {
    background: #afacac5e;
    width: 12rem;
    height: 1.3rem;
    border-radius: 12px;
}
.detailsTransitionPage::before {
    content: '';
    position: absolute;
    background: #afacaca3;
    width: 6rem;
    height: 1.3rem;
    border-radius: 12px;
}

/* ------------------ Media Query Second Page ------------------ */
@media screen and (max-width: 550px){
    .textTitle {
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .settingsBtn > i {
        font-size: 2rem;
    }
}
@media screen and (max-width: 350px) {
    .textTitle {
        font-size: 2rem;
    }
    .detailsTransitionPage {
        width: 8rem;
    }
    .detailsTransitionPage::before {
        width: 4rem;
    }
    .settingsBtn {
        text-align: center;
    }
    .btnNextPage {
        font-size: 1.2rem;
    }
}

/* -------------------- Settings Third Page --------------------  */
#pageThird {
    display: none;
    text-align: center;
    width: 100%;
    background: rgb(231, 230, 230);
}
.headerPageThird {
    background: #8669D9;
    width: 80%;
    margin-left: 75%;
    transform: translateX(-80%);
    border-radius: 0 0 5rem 5rem;
    padding: 1rem 0 .1rem 0;
}
.btnBack {
    display: flex;
    justify-content: start;
    padding: 0 0 0 3rem;
    position: absolute;
}
.btnBack > i {
    font-size: 2.2rem;
    color: #fefefe;
    padding: .3rem;
    border-radius: 12px;
    transition: .35s;
    cursor: pointer;
}
.btnBack > i:hover {
    background: #1f1e1e25;
    transform: scale(0.9) rotate(360deg);
}
.titlePage {
    color: #fefefe;
    font-family: 'K2D', sans-serif;
    letter-spacing: .1rem;
    word-spacing: .3rem;
    user-select: none;
    font-size: 2rem;
}
.minText {
    font-size: 1.2rem;
}
.formLogin {
    width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    display: grid;
    row-gap: 2.5rem;
}
.inputContainer {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: left;
    padding: .1rem 2rem 1rem 2rem;
}
.titleContainerInput {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    font-weight: 900;
    color: #413f3f;
}
.inputContainer > input,
.containerInputPassword > input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: #323131;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: .1rem;
    width: 100%;
    border-bottom: 1px solid #8888886a;
    padding: 0 0 .3rem .5rem;
}
.containerInputPassword {
    display: flex;
}
.containerInputPassword > i {
    font-size: 1.5rem;
    color: #444444;
    cursor: pointer;
    transition: .35s;
    padding: .4rem;
    border-radius: 5px;
    transition: .35s;
    cursor: pointer;
}
.containerInputPassword > i:hover {
    background: #1d1b1b32;
}
.containerMessages {
    display: flex;
    justify-content: space-evenly
}
.messageStyle {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
.errormessage {
    color: rgb(240, 8, 8);
}
.forgotPassword {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.forgotPassword:hover {
    color: #464546;
}
.hidden {
    display: none;
}
.checkboxContainer {
    display: flex;
    justify-content: start;
    padding: 0 0 0 2rem;
    gap: 1rem;
    margin-top: -2rem;
    align-items: center;
}
.textStyleCheckbox {
    font-family: 'K2D', cursive;
    font-size: 1.4rem;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container {
  position: relative;
  cursor: pointer;
  font-size: 17px;
  width: 1em;
  height: 1em;
  user-select: none;
  border: 5px solid #8669D9;
  margin-top: .3rem;
  border-radius: 5px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkmark:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: #8669D9;
  width: 50%;
  height: 50%;
  transform: scale(0);
  transition: .1s ease;
  border-radius: 1px;
}
.container input:checked ~ .checkmark:after {
  transform: scale(1);
}
.cssbuttons-io {
 position: relative;
 font-family: inherit;
 font-weight: 500;
 font-size: 18px;
 letter-spacing: 0.05em;
 border-radius: 0.8em;
 border: none;
 background: linear-gradient(to right, #8e2de2, #4a00e0);
 color: rgb(255, 255, 255);
 overflow: hidden;
 margin-top: 1rem;
 cursor: pointer;
}
.cssbuttons-io span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
 display: inline-flex;
 align-items: center;
 padding: 0.8em 1.2em 0.8em 1.05em;
 font-family: monospace;
 font-size: 1.3rem;
}
.cssbuttons-io::before,
.cssbuttons-io::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}
.cssbuttons-io::before {
 content: "";
 background: #8669D9;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.cssbuttons-io:hover::before {
 transform: translate3d(100%, 0, 0);
}
.cssbuttons-io:active {
 transform: scale(0.95);
}
.othersOptionLoginContainer {
    text-align: center;
}
.textAccount {
    font-family: 'poppins';
}
.createAccountTitle {
    text-decoration: underline;
    cursor: pointer;
}
.createAccountTitle:hover {
    color: #444242;
}
.otherOptionText {
    font-size: 2rem;
}
.optionLoginSocialMedia {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.containerSocialMedia {
    display: flex;
    gap: .3rem;
    background: rgb(216, 215, 215);
    padding: .4rem 2rem .4rem 2rem;
    border-radius: 32px;
    margin-bottom: 2rem;
    font-family: 'poppins', sans-serif;
    font-size: 1.7rem;
    transition: .35s;
    cursor: pointer;
    align-items: center;
}
.optionLoginSocialMedia:hover > :not(:hover) {
    transform: scale(.8);
    opacity: .9;
}
.containerSocialMedia > i {
    font-size: 2.5rem;
}
.containerSocialMedia:nth-child(2) > i {
    color: #082ba9;
}